asn1crypto==0.22.0
attrs==19.1.0
Automat==0.7.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.1
hyperlink==17.2.1
idna==2.5
incremental==17.5.0
lxml==4.4.1
parsel==1.5.2
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.19
PyDispatcher==2.0.5
pyOpenSSL==19.0.0
queuelib==1.4.2
requests==2.22.0
Scrapy==1.7.1
service-identity==17.0.0
six==1.10.0
Twisted==22.2.0
urllib3==1.25.3
w3lib==1.19.0
zope.interface==4.4.2
